*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family:"Public Sans", sans-serif;
    font-size: 1.2rem;
}

.grid-container > * {
    box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.header{
    grid-area: header;
}

.sidebar{
    grid-area: sidebar;
}

.article{
    grid-area: article;
}

.footer{
    grid-area: footer;
}

.grid-container{
    padding: 0 10px 0 10px;
    display: grid;
    gap: 10px;
    height: 100vh;
    grid-template:
    "header header" 100px
    "sidebar article" auto
    "footer footer" 100px
    ;
}

img{
    max-width: 100%;
}

ul li{
    list-style: none;
}
