{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link  href="{% static 'app_miproyecto/css/style.css' %}" rel="stylesheet">
</head>
<body>
    <main class="grid-container">    
        <header class="header">
            {% block header %}
                header
            {% endblock %}
        </header>

        <aside class="sidebar">
            {% block sidebar %}
                sidebar
            {% endblock %}
        </aside>

        <article class="article">
            {% block articulo %}
                articulo bueno
            {% endblock %}
        </article>
        
        <footer class="footer">
            {% block footer %}
                footer
            {% endblock %}
        </footer>

    </main>

</body>
</html>